.user-detail-header {
    min-height: 250px;
    background-color: rgba(176, 166, 166, 0.413);
    color: black;
    display: flex;
    justify-content: flex-end;

    img {
        height: 100px;
        width: 100px;
        object-fit: cover;
        border-radius: 100%;
    }
}

.user-box {
    display: flex;
}

.user-details {
    margin-left: 32px;
    display: flex;
    flex-direction: column;
    justify-content: center;

    h2 {
        margin-bottom: 0;
    }
}

.pin-right-upper-corner {
    position: absolute;
    right: 0;
    top: 0;
}